@use "../../app/mixins" as *;

.mainContainer {
  width: 256px;
  .eventCtn {
    min-height: 300px;
    max-height: 600px;
    border: 2px var(--border-color) solid;
    margin: var(--base-2);
    padding: var(--base);
    border-radius: var(--base-2);
    background-color: var(--secondary-color);
    .heading {
      margin: calc(var(--base) * -1) calc(var(--base) * -1) 0
        calc(var(--base) * -1);
      border-top-left-radius: var(--base-2);
      border-top-right-radius: var(--base-2);
      padding: var(--base) var(--base-2);
      border-bottom: 2px var(--border-color) solid;
      text-align: center;
      font-size: var(--font-base-2);
      p {
        color: var(--secondary-text-color);
        font-weight: bolder;
      }
    }
    .eventDetail {
      padding: var(--base) 0 0px;
      margin: 0 calc(var(--base) * -1) 0;
      p {
        font-size: var(--font-base-2);
        padding: var(--base);
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
      }
      .head {
        color: var(--tertiary-text-color);
      }
      .info {
        color: var(--primary-text-color);
        max-height: 150px;
        overflow: auto;
        scrollbar-width: thin;
        margin-bottom: var(--base);
      }
    }
    .border {
      border-bottom: 2px var(--border-color) solid;
      margin: 0 calc(var(--base) * -1) 0;
    }
  }
  .noEvent {
    font-size: var(--font-base-2);
    color: var(--primary-text-color);
    text-align: center;
    @include flex($align: center, $justify: center);
    height: 250px;
  }
}

// for phones
@media (max-width: 576px) {
  .mainContainer{
    display: none;
  }
}