.mainContainer {
  width: 30%;
  .eventCtn {
    height: 60%;
    border: 2px var(--main-text-color) solid;
    margin: var(--base-2);
    padding: var(--base);
    border-radius: var(--base-2);
    background-color: var(--secondary-color);
    .heading {
      margin: -8px -8px 0 -8px;
      border-top-left-radius: var(--base-2);
      border-top-right-radius: var(--base-2);
      padding: var(--base) var(--base-2);
      border-bottom: 2px var(--main-text-color) solid;
      text-align: center;
      font-size: var(--base-2);
      p {
        color: var(--highlight-color-2);
        font-weight: bolder;
      }
    }
    .eventDetail {
      padding: var(--base-2) 0 0px;
      margin: 0 -8px 0;
      p {
        color: var(--main-text-color);
        border-bottom: 2px var(--main-text-color) solid;
        font-size: var(--base-2);
        padding: var(--base);
        span {
          color: var(--highlight-color);
        }
      }
    }
    .description {
      margin: 0 -8px;
      height: inherit;
      overflow: auto;
      p {
        color: var(--main-text-color);
        font-size: var(--base-2);
        padding: var(--base);
        span {
          color: var(--highlight-color);
        }
      }
    }
  }
}
