@use "../../../app/mixins" as *;

.day {
  border: 1px solid var(--border-color);
  padding: var(--base);
  cursor: pointer;
  @include flex($direction: column, $align: center);
  color: var(--primary-text-color);
  .innerWrapper {
    @include flex($direction: column, $align: center, $justify: space-between);
    width: 100%;
    .highlight {
      background-color: var(--highlight-text-color);
      padding: var(--vs);
      border-radius: var(--base-2);
    }
    .event {
      max-height: calc(var(--base-5) * 2);
      width: 100%;
      overflow: auto;
      p {
        padding: 2px;
        margin-top: var(--vs);
        font-size: var(--font-base) + var(--vs);
        color: var(--primary-text-color);
        background: var(--event-color);
        text-align: center;
        border-radius: var(--base);
        &:hover {
          background: var(--primary-text-color);
          color: var(--event-color);
        }
      }
    }
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

// Fade-In Animation
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// for phones
@media (max-width: 576px) {
  .day {
    padding: var(--vs);
    .innerWrapper {
      width: 100%;
      .highlight {
        padding: var(--vs);
        border-radius: var(--base-2);
      }
      .event {
        max-height: 150px;
        p {
          padding: 2px;
          margin-top: var(--vs);
          font-size: var(--font-base);
          border-radius: var(--base);
        }
      }
    }
  }
}
