.day {
    border: 1px solid var(--border-color);
    padding: var(--base);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    &:nth-child(1) {
      border-top-left-radius: 12px;
    }
    &:nth-child(7) {
      border-top-right-radius: 12px;
    }
    &:nth-child(29) {
      border-bottom-left-radius: 12px;
    }
    &:nth-child(35) {
      border-bottom-right-radius: 12px;
    }
    .highlight {
      background-color: var(--accent-color);
      padding: 4px;
      border-radius: var(--base-2);
    }
    .event {
      max-height: 80px;
      width: 100%;
      overflow: auto;
      p {
        padding: 2px;
        margin-top: 4px;
        font-size: 12px;
        color: var(--main-text-color);
        background: var(--event-color);
        text-align: center;
        border-radius: var(--base);
        &:hover {
          background: var(--main-text-color);
          color: var(--event-color);
        }
      }
    }
  }