@use "../mixins" as *;

.mainContainer {
  height: 100vh;
  width: 100vw;
  @include flex($align: center, $justify: center);
  .appShell {
    height: 100%;
    width: 100%;
  }
  .wrapper {
    @include flex($direction: row);
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--primary-color);
  }
}
