@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1B1B1B;
  --primary-color:  #1B1B1B;
  --secondary-color: #131314;
  --main-text-color: #F8F8F2;
  --border-color: #333537;
  --event-color: #F44336;
  --accent-color: #A0153E;
  --highlight-color: #727d73;
  --highlight-color-2: #e16a54;
  --error-color: #FF0000;
  --base: 8px;
  --base-2: 16px;
  --base-3: 24px;
  --base-4: 32px;
  --base-5: 40px;
  --base-6: 48px;
  --base-7: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
